*.class

# Package Files #
*.jar
*.war
*.ear
work/*
target/*
.settings/*
.classpath
.project
.factorypath

# Vagrant
.vagrant
vagrant_ansible_inventory_*

# IntelliJ
.idea
*.iml

# VSCode
.vscode

# OS X
.DS_Store
